{% extends "Base/Base.twig" %}

{% block content %}
  <div class="front-page">
    <div class="front-page__content">
      <h1 class="front-page__title">This is frontpage</h1>

      <div class="front-page__description">
        <p class="front-page__description-text">
          To edit this page, modify the template at:<br>
          <code>pages/FrontPage/FrontPage.twig</code>
        </p>
        <p class="front-page__description-text">
          To add or modify content, edit the FrontPage controller at:<br>
          <code>pages/FrontPage/FrontPage.php</code>
        </p>
      </div>

      <div class="front-page__counter-wrapper">
        <div
          data-vue-component="Counter"
          data-eager
          data-props='{"initialValue": 0}'
        ></div>
      </div>
    </div>
  </div>
{% endblock %}
