{% extends "layouts/base.twig" %}

{% block content %}
  <div class="front-page">
    <div class="front-page__content">
      <h1 class="front-page__title">{{ theme_name }}</h1>

      <div class="front-page__description">
        <p class="front-page__description-text">{{ description }}</p>
        <div class="front-page__tech-stack">
          {% for tech in tech_stack %}
            <span class="front-page__tech-item">{{ tech }}</span>{% if not loop.last %}<span class="front-page__tech-separator"> / </span>{% endif %}
          {% endfor %}
        </div>
      </div>

      <div id="svelte-counter"></div>
    </div>
  </div>
{% endblock %}
